.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../img/imagenFondo.png');
    background-position: top center;
    background-size: cover;
    Height: 89vh;
    right: 50px;
}

.cont_con_movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../img/imagenFondo.png');
    background-position: center;
    background-size: cover;
}

.Buscador_componente {
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 150px;
}

.Movies_componente {
    display:flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 50px;
}
