.container {
  background-image: url('../../img/imagenFondo.png');
  background-position: bottom center;
  background-size: cover;
  Height: 89vh;
}

.title {
  padding: 20px;
  margin:0cm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(209, 196, 171);
}

.detailContainer {
  height: 500px;
}

.img {
  height: 350px;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  float: left;
  border-radius: 50px;
}
.img:hover {
  -webkit-transform:none;
    transform:none;
}

.text_Detail {
  padding-left: 80px;
  width: 1000px;
}
