.navContainer {
    height: 76px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #303236;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    text-decoration: none;
    padding-bottom: 40px;
}

.logo {
    width: 50px;
    height: 50px;
    padding-left: 60px;
    padding-top: 40%;
}

.listNav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 60px;
}

.linkItem {
    padding: 18px;
    padding-top: 30%;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(209, 196, 171);
}

/* .list-item a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
} */

/* .list-item a:hover,
.list-item a.active {
    background-color: #808080;
    color: white;
} */
